@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #000000;
}

.bg-gradient-to-br {
  background: linear-gradient(135deg, #6ee7b7, #fefcbf, #000000);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(110, 231, 183, 0.5);
}
